<!DOCTYPE html>
<html lang="en">
<head>
    <title>Autores</title>
</head>
<body>
    <h1>Aqui tienes una lista de los autores</h1>
    <a>Selecciona uno de los dos autores para saber mas sobre el:</a>
    <ul>
        <li><a href="/autor/poe">Edgar Allan Poe</a></li>
        <li><a href="/autor/borges">Jorge Luis Borges</a></li>
    </ul>
    <a>Si necesitas algo, contacte con nosotros clicando </a><a href="www.google.es">aqui</a><a>, muchas gracias por su atencion y esperamos verle de nuevo muy pronto</a>
</body>
</html>