<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Información de Borges</h1>
    <b size="200">Nombre: </b>
    <a>Jorge Luis Borges</a><br><br>
    <b>Nacionalidad: </b>
    <a>Argentina</a><br><br>
    <b>Fecha de nacimiento: </b>
    <a>Agosto 24, 1899</a>
    <ul>
        <li><a href="https://es.wikipedia.org/wiki/Jorge_Luis_Borges">Para saber mas</a></li>
        <li><a href="/autor/poe">Para saber mas sobre Poe</a></li>
        <li><a href="/">Atras</a></li>
    </ul>

</body>
</html>