<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Información sobre Poe</h1>
    <b size="200">Nombre: </b>
    <a>Edgar Allan Poe</a><br><br>
    <b>Nacionalidad: </b>
    <a>US</a><br><br>
    <b>Fecha de nacimiento: </b>
    <a>Enero 19, 1809</a>
    <ul>
        <li><a href="https://es.wikipedia.org/wiki/Edgar_Allan_Poe">Para saber mas</a></li>
        <li><a href="/autor/borges">Para saber mas sobre Borgues</a></li>
        <li><a href="/">Atras</a></li>
    </ul>
</body>
</html>